
<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: lightblue;
    }
</style>

<head>
    Welcome! &#128515;
</head>

<body>

<form method="get" action="/viewGuestIndividualTrainee">
    <input type="submit" value="Continue as guest">
</form>
<form method="get" action="/viewGuestIndividualTrainee">
    <input type="submit" value="Continue as individual trainee">
</form>
<form method="get" action="/admin/create">
    <input type="submit" value="Continue as admin">
</form>
<form method="get" action="/viewCorporateTrainee">
    <input type="submit" value="Continue as corporate trainee">
</form>
<form method="get" action="/viewInstructorHomePage">
    <input type="submit" value="Continue as Instructor">
</form>
</body>