<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: lightblue;
    }
</style>

<head>
    Instructor Home Page! &#128515;
</head>
 
<body>
<form method="get" action='/viewCoursesWithPricePage'>
    <input type="submit" value="Search All Courses">
</form>

<form method="get" action='/viewPage'>
    <input type="submit" value="View My Courses">
    
</form>

<form method="get" action='/createCo'>

    <input type="submit" value="Create Course">
</form>

<form method="get" action='/selectCountry'>
    <input type="submit" value="Change My Country">
</form>

</body>
